# Virtual Environment

venv/
.env

# Python Cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Pytest

.pytest_cache/

# Reports

reports/
allure-results/

# Coverage

.coverage
htmlcov/

# IDE

.vscode/
.idea/

# macOS

.DS_Store

# Logs

*.log

# Build

dist/
build/

# Environment

.env.local
