pytest==9.0.2
requests==2.32.4

pytest-xdist==3.8.0
pytest-html==4.2.0
pytest-rerunfailures==16.3
pytest-mock==3.15.1
allure-pytest==2.16.0

faker==40.23.0
jsonschema==4.25.1

PyYAML==6.0.2

psycopg2-binary==2.9.10

tenacity==9.1.2

docker==7.1.0

python-dotenv==1.1.1
locust==2.43.3